@model IList<PatientCareEvent>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">PatientCareEvents</li>
    </ol>
</nav>
      @* @if (User.IsInRole(Role.manager.ToString())) *@
<div class="card border rounded shadow p-4">

        <div class="d-flex align-items-center justify-content-between"></div>
    <h3>PatientCareEvent List</h3>
    <a asp-roles="manager" asp-action="Create" class="btn btn-primary btn-sm">
            <i class="bi bi-bag-plus-fill me-2" title="Add CareEvent"></i>
            <span>Add PatientCareEvent</span>
        </a>
   </div>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th> 
            <th>DateTime</th> 
            <th>Carer Id</th> 
            <th>Patient Id</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pce in Model) {
            <tr>
                <td>@pce.Id</td> 
                <td>@pce.DateTimeOfEvent.ToShortDateString()</td>
                <td>@pce.UserId</td> 
                <td>@pce.PatientId</td>
                <td class="d-flex gap-1">
                    <a asp-action="Details" asp-route-id="@pce.Id">
                            <i class="bi bi-pencil"  title="View CareEvent"></i>
                    </a> 
                    @* @if (User.IsInRole("Admin") || User.IsInRole("Manager"))  *@
                    
                             <a asp-roles="manager,admin" asp-action="Edit" asp-route-id="@pce.Id">
                            <i class="bi bi-pencil"  title="Edit CareEvent"></i>
                        </a> 
                    
                        <a asp-roles="manager,admin" asp-action="Delete" asp-route-id=@pce.Id>
                            <i class="by bi-trash"title="Delete CareEvent"></i>
                        </a> 
        
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

