@model User

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Carer" asp-action="Index">Carers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<h3 class="mt-4 mb-4">Patient Details:          @Model.Firstname   @Model.Surname  </h3>        

<div class="row">
    <div class="col-8 card rounded shadow pt-3">
        <dl class="row">              
                <dt class=col-sm-5>Id</dt>
                <dd class="col-sm-7">@Model.Id</dd>
                <dt class=col-sm-5>Title</dt>
                <dd class="col-sm-7">@Model.Title</dd>
                <dt class="col-sm-5">Firstname</dt>
                <dd class="col-sm-7">@Model.Firstname</dd>
                <dt class="col-sm-5">Surname</dt>
                <dd class="col-sm-7">@Model.Surname</dd>
                <dt class="col-sm-5">DOB</dt>
                <dd class="col-sm-7">@Model.DOB.ToShortDateString()</dd>
                <dt class="col-sm-5">Age</dt>
                <dd class="col-sm-7">@Model.Age</dd>
                <dt class="col-sm-5">NationalInsuranceNo</dt>
                <dd class="col-sm-7">@Model.NationalInsuranceNo</dd>
                <dt class="col-sm-5">DBS Check</dt>
                <dd class="col-sm-7">@Model.DBSCheck</dd>
                <dt class="col-sm-5">EmailAddress</dt>
                <dd class="col-sm-7">@Model.Email </dd>
                <dt class="col-sm-5">Street</dt>
                <dd class="col-sm-7">@Model.Street</dd>
                <dt class="col-sm-5">Town</dt>
                <dd class="col-sm-7">@Model.Town</dd>
                <dt class="col-sm-5">County</dt>
                <dd class="col-sm-7">@Model.County</dd>
                <dt class="col-sm-5">Postcode</dt>
                <dd class="col-sm-7">@Model.Postcode </dd>
                <dt class="col-sm-5">MobileNumber</dt>
                <dd class="col-sm-7">@Model.MobileNumber </dd>
                <dt class="col-sm-5">HomeNumber</dt>
                <dd class="col-sm-7">@Model.HomeNumber </dd>
                <dt class="col-sm-5">Qualifications</dt>
                <dd class="col-sm-7">@Model.Qualifications </dd>

        </dl>
        </dl>
    </div>

         <!-- photo -->

        <div class="col-4">
              <img src= "@Model.PhotoUrl" class="img-fluid"> 
              </div>

<!-- action options -->
        <div class="mt-4 mb-4"> 
        <a asp-controller="Carer" asp-action="Index" class="btn btn-primary"><i class="bi bi-list"></i>
            Carer List
        </a>    
        <a asp-controller="Carer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="bi bi-pen"></i>
            Edit Carer
        </a>  
        <a asp-controller="Carer" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary"><i class = "bi bi-trash"></i>
            Delete
        </a> 
      </div>


            
