@model Patient

<table class="table table-striped">
    <thead>
        <tr>            
            <th>Date</th>
            <th>Carer</th> 
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.CareEvents)
        {
            <tr>
                <td>@e.DateTimeOfEvent</td>
                <td>@e.User.Name</td>
                <td>@(e.DateTimeCompleted == DateTime.MaxValue ? "No" : "Yes") </td> 
                <td>                    
                    <a asp-condition="@e.UserId == User.GetSignedInUserId() && e.DateTimeCompleted == DateTime.MaxValue" asp-roles="manager, carer" asp-controller="PatientCareEvent" asp-action="Complete" asp-route-id="@e.Id">Complete</a>                          
                    <a asp-condition="e.DateTimeCompleted != DateTime.MaxValue" asp-roles="manager, carer" asp-controller="PatientCareEvent" asp-action="Details" asp-route-id="@e.Id">View</a>
                    <a asp-condition="e.DateTimeCompleted == DateTime.MaxValue" asp-roles="manager" asp-controller="PatientCareEvent" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


